html{
  scroll-behavior: smooth;
}
body{
  background-color: #303D44;
}
header{
  background-color: black;
}
h1{
  color: #FFF;
  padding: 20px;
}
#search{
  float: right;
  height: 30px;
  width: 20%;
  outline: none;
}
#search_name{
  float: right;
  height: 38px;
  background-color: coral;
  font-weight: bold;
  color: #FFF;
}
.card{
  float: left;
  width: 35%;
  padding-left: 20px;
  border-right: 2px solid white;
}
h4{
  font-size: 25px;
  color: #FFF;
}
#user{
  background-color: #FFF;
  color: black;
  border-radius: 60px;
  padding: 5px;
  font-size: 20px;
  width: 4%;
  text-align: center;
}
#other{
  color: #FFF;
  border-radius: 60px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}
h5{
  font-size: 20px;
  color: #FFF;
}
h2{
  font-size: 30px;
  color: coral;
  font-family: bold;
}
a{
  list-style: none;
  text-decoration: none;
}
h6{
  font-size: 25px;
  padding: 10px;
  color: #FFF;
  background-color: grey;
  border-radius: 5px;
}
b{
  font-size: 10px;
}
span{
  font-size: 10px;
}
.second-card{
  height: 400px;
  padding-left: 40%;
}
li{
  list-style: none;
  padding-bottom: 0px;
}
.sender{
  background-color:grey;
  color: #FFF;
  padding: 10px;
  float: left;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
}
.sender-span{
  padding-left: 10px;
  max-width: 50%;
}
.me{
 background-color: blue;
 float: right;
 padding: 10px;
 border-radius: 30px;
 border-bottom-right-radius: 0px;
 color: #FFF;
}
.me-span{
  float: right;
  padding-right: 10px;
  max-width: 50%;
}
.scroll{
  height: 40%;
  overflow-y: auto;
  position: absolute;
  float: right;
  width: 57%;
}
#recipient{
  background-color: coral;
  color: #FFF;
  padding: 15px;
}
.text-message{
  padding-top: 64%;
  
}
#text{
  width: 80%;
  height: 30px;
  border-radius: 20px;
  outline: 0px;
}
#send{
  background-color: green;
  height: 30px;
  width: 15%;
  font-size: 15px;
  color: #FFF;
  border: 1px solid green;
  position: fixed;
}
#less{
  color: black;
}
.errmsg{
  color: red;
}